body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.itemsList {
    padding: 100px;
}

.usersItemsListing {
    padding: 10px;
}

.product {
    max-width: 300px;
    min-height: 200px;
}

.biddingSection {
    padding: 10px;
    text-align: center;
}

.bidding-modal {
    padding: 20px;
}

.totalBidders {
    padding: 10px;
}

.itemSold {
    color: red;
    font-size: 2em;
}